* {
    margin: 0;
    padding: 0;
}

/* REMOVE Arrows/Spinners
 https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp 
 Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.wafl {
    width: auto;
    float: left;
}

.iziToast-wrapper {
    margin-top: 40px;
}

#create_exercise {
    margin: auto;
    margin-top: 25px;
    width: 288px;
}

#exercise_name {
    margin: 0 15px;
    padding: 0 10px;
}

#exercise_label {
    margin-left: 10px;
}

label {
    margin: auto;
    margin-top: 5px;
}

.form_p {
    margin-bottom: 0;
    min-width: 70px;
}

.form-row {
    /* margin: 5px 10px; */
    justify-content: center;
}

.set_number:hover {
    cursor: default;
}

.add_set {
    background: rgb(193, 243, 136);
    margin: 10px;
}

.delete_set {
    background: rgb(253, 121, 121);
    margin: 10px;
}

#submit_button {
    margin: 0 10px;
}

.fas {
    margin: 0 10px;
}

.add_set:hover, .delete_set:hover, .add_exercise:hover {
    cursor: pointer;
}

.workout_current_set_div {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.workout_current_set {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 2px;
    padding-right: 0px;
}

.workout_current_set_icon {
    float: right;
    font-size: 15px;
    margin-top: 2px;
    /* margin-right: 5px; */
    background: #FD7979;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: -0.01em;
}

.edit_icon {
    float: right;
    font-size: 15px;
    margin-top: 2px;
    margin-right: 5px;
    background: #F6BB07;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: -0.01em;
    width: 25px;
}

button:focus {
    all: unset;
}